{% extends 'paginas/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Pagina de gatos</h1>
<p>
Esta página está dedicada a mostrar a mis gatos. 
Aquí compartiré fotos y historias 
</p>
<div>
<img src="static\imagenes\gato1 (1).jpg"
 alt="Descripción de la imagen" style="float: right; width: 300px;">
<img src="static\imagenes\gato1 (2).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (6).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (4).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (7).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (8).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (9).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
<img src="static\imagenes\gato1 (10).jpg"
alt="Descripción de la imagen" style="float: right; width: 300px; height: 225px;">
</div>
{% endblock %}